#root {
  display: flex !important;
  min-height: 100vh !important;
  flex-direction: column !important;
}

main {
  flex: 1 0 auto !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.clickable {
  cursor: pointer;
}

.p-0 {
  padding: 0 !important;
}

.m-1 {
  margin: 1.5rem;
}

.ml-1 {
  margin-left: 0.3rem;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mt-5 {
  margin-top: 3rem !important;
}

.role {
  border-radius: 10px;
  text-align: center;
  color: white;
  padding: 0.1rem 1rem;
  font-weight: bold;
}

.pagination li a {
  font-size: 2rem;
}

td {
  padding: 5px !important;
}
