#root {
  display: flex !important;
  min-height: 100vh !important;
  flex-direction: column !important;
}

main {
  flex: 1 0 auto !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.clickable {
  cursor: pointer;
}

.p-0 {
  padding: 0 !important;
}

.p-1 {
  padding: 0.3rem !important;
}

.m-1 {
  margin: 1.5rem;
}

.ml-1 {
  margin-left: 0.3rem;
}

.ml-2 {
  margin-left: 0.6rem;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.mt-5 {
  margin-top: 3rem !important;
}

.role {
  border-radius: 10px;
  text-align: center;
  color: white;
  padding: 0.1rem 1rem;
  font-weight: bold;
}

.pagination li a {
  font-size: 2rem;
}

td {
  padding: 5px !important;
}

.statusBox {
  padding: 0.5rem;
  border-radius: 2px;
}

.modal-header {
  padding: 15px;
  border-radius: inherit;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal-header {
  padding: 10px;
  text-align: center;
}

.confirm-modal-content {
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}
